.text-bold {
	font-weight: var(--text-bold);
}
.text-bolder {
	font-weight: var(--text-bolder);
}
.text-normal {
	font-weight: var(--text-normal);
}
.text-faint {
	font-weight: var(--text-faint);
}
.small-heading {
	font-weight: var(--text-bolder);
}
.bg-dark-grey {
	background-color: var(--dark-grey);
}
.bg-light-grey {
	background-color: var(--light-grey);
}
.text-dark-grey {
	color: var(--dark-grey);
}
.text-light-grey {
	color: var(--light-grey);
}
.bg-green {
	background-color: var(--success);
}
.text-green {
	color: var(--success);
}
.bg-red {
	background-color: var(--secondary);
}
.text-red {
	color: var(--secondary);
}
